# Environment variables for the Web application

# Public Client URL (used for redirects, etc.)
NEXT_PUBLIC_CLIENT_URL=http://localhost:3000

# API URL for authentication and backend requests
NEXT_PUBLIC_API_URL=http://localhost:3010
