auto-install-peers = true

# Hoisting pour éviter les duplications de React
shamefully-hoist=true
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*expo*

# Forcer le hoisting des packages React Native
node-linker=hoisted